fastapi
uvicorn[standard]
python-dotenv
supabase
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
python-telegram-bot
groq
httpx
pydantic
pydantic-settings
python-multipart
pytz